.loc-to-coord-settings .mode p {
	margin-top: 0;
}

.loc-to-coord-settings .setting-item.setting-item-heading {
	text-align: center;
	display: block;
}

/*noinspection CssNoGenericFontName*/
.loc-to-coord-settings textarea {
	width: 20em;
	height: 100px;
	resize: vertical;
	font-family: var(--font-monospace);
}

.attribution {
	text-align: center;
	margin-top: 1em;
}

.attribution .setting-item-name {
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
}
